body{
    background-color: rgb(0,0,0);
}
a,.logo,h1{
    color : white;
    font-weight: 200px;
    text-decoration: none;

}
nav > ul{
    margin: 0px;
    font-size: 25px;
    display: flex;
    justify-content: space-evenly;
}
.logo{
    color: white;
    margin-right: 20px;
    font-size: 30px;
}
.main{
    font-size: 35px;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}
.heading{
    display: flex;
    justify-content: space-around;
}